
@{
    Layout = null;
}

@model ToolKit.DataAnnotation.Test.Models.Account

<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<form class="panel panel-primary">
    <div class="panel-body">
        <label>First name</label>
        @Html.TextBoxFor(x => x.FirstName, new {@class = "form-control"})
        
        <label>Middle name</label>
        @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control" })

        <label>Last name</label>
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })

        <label>Full name</label>
        @Html.TextBoxFor(x => x.FullName, new {@class = "form-control"})
        
        <hr/>
        
        @Html.ValidationMessageFor(x => x.FullName)
    </div>
</form>
</body>
</html>


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.toolkit.data-annotation.js"></script>